@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --primary-color: #fef9cc;
}

html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: black;
}

.welcome-text {
    width: 95vw;
    color: var(--primary-color);
    display: none;
    position: absolute;
    justify-content: center;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    font-size: 80px;
    animation: fade-in 2s linear;
}

.web-dev-text {
    width: 95vw;
    color: var(--primary-color);
    display: none;
    position: absolute;
    justify-content: center;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    font-size: 20px;
    animation: fade-in 2s linear;
    letter-spacing: 20px;
}

.filler {
    height: 200vh;
}

.scroll {    
    width: 100vw;
    color: var(--primary-color);
    display: none;
    justify-content: center;
    margin-top: 80vh;
    padding: 0px;
    font-size: 2rem;
    animation: bounce 2s ease-in-out both;
    animation-iteration-count: infinite;
    transition: ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0px)
    }
    
    50% {
        transform: translateY(20px)
    }

    100% {
    }
}

.scroll-text {
    animation: fade-in 2s linear;
    
    transition-duration: 1s;
}

.scroll:hover {
    color: rgb(135, 160, 231);
    transition-duration: 1s;
    cursor: pointer;
}

.scroll:hover #fas {
    color: rgb(116, 255, 197);
    transition-duration: 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.scroll .fas {
    transform: translateY(13px);
    padding: 23px;
}

.video-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 80vh;
    z-index: -1;
}

.video-container video {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.placeholder-image-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 80vh;
    z-index: -2;
}

.placeholder-image-container img {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logo-container {
    margin: 0;
    z-index: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    animation: logo-intro 5s ease-in-out forwards;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(255,255,255,0.0);
    border-radius: 5px;
}

@keyframes twinkle {
    0% {
        transform: scale(1, 1);
        background: rgba(255,255,255,0.0);
        animation-timing-function: ease-in;
    }
    60% {
        transform: scale(0.8, 0.8);
        background: rgba(255,255,255,1);
        animation-timing-function: ease-out;
    }
    80% {
        background: rgba(255,255,255,0.00);
        transform: scale(1, 1);
    }
    100% {
        background: rgba(255,255,255,0.0);
        transform: scale(1, 1);
    }
}

.logo-container img {
    width: 75vw;
    min-width: 200px;
    animation: logo-shrink 5s ease-in forwards;
}

@keyframes logo-intro {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translate(-50%, 0%) rotate(0);
    }

    75% {       
        left: 50vw;
        transform: translate(-50%, 0%) rotate(-35deg);
    }

    100% {
        left: 0;
        top: 0;
        transform: translate(0, 0) rotate(-35deg)
    }
}

@keyframes logo-shrink {
    from {
        width: 75vw;
    }

    to {
        width: 15vw;
    }
}

@media screen and (max-width: 1500px) {
    .video-container {
        height: auto;
    }
    .placeholder-image-container {
        height: auto;
    }
}

@media screen and (max-width: 1125px) {
    .welcome-text {
        font-size: 7vw;
        top: 32vh;
    }
    .web-dev-text {
        font-size: 3vw;
        letter-spacing: 6px;
        top: 30vh;
    }
}

@media screen and (max-width: 823px) {
    .welcome-text {
        top: 46vh;
    }
    .web-dev-text {
        top: 44vh;
    }
    .scroll-text {
        font-size: 25px;
    }
    .scroll .fas {
        transform: translateY(13px);
        padding: 15px;
    }
}
@media screen and (max-height: 570px) {
    .logo-container img {
        min-width: 100px;
    }
    .scroll {
        margin-top: 70vh;
    }
}