@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --primary-color: #fef9cc;
}

html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: black;
}

.welcome-text {
    width: max-content;
    color: var(--primary-color);
    display: none;
    position: absolute;
    justify-content: center;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    font-size: 80px;
    animation: fade-in 2s linear;
}

.welcome-text:hover {
    cursor: pointer;
    user-select: none;
}

.web-dev-text {
    user-select: none;
    width: 95vw;
    color: var(--primary-color);
    display: none;
    position: absolute;
    justify-content: center;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    font-size: 20px;
    animation: fade-in 2s linear;
    letter-spacing: 20px;
}

.filler {
    height: 200vh;
}

.scroll {    
    width: auto;
    color: var(--primary-color);
    display: none;
    justify-content: center;
    margin-top: 89vh;
    padding: 0px;
    animation: bounce 2s ease-in-out both;
    animation-iteration-count: infinite;
    transition: ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0px)
    }
    
    50% {
        transform: translateY(20px)
    }

    100% {
    }
}

.scroll-text {
    animation: fade-in 2s linear;
    transition-duration: 1s;
    font-size: 20px;
}

.scroll-content-container {
    display: flex;
}

.scroll-content-container:hover p {
    color: #87a0e7;
    transition-duration: 1s;
    cursor: pointer;
}

.scroll-content-container:hover #fas {
    filter: brightness(0) saturate(100%) invert(79%) sepia(59%) saturate(431%) hue-rotate(88deg) brightness(104%) contrast(96%);
    transition-duration: 1s;
    cursor: pointer;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.scroll .fas {
    margin-bottom: 5px;
    padding: 23px;
    width: 10px;
    height: auto;
}

/* VIDEO */

.video-container {
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: -1;
}

.video-container video {
    bottom: 0;
    width: 100%;
}

.logo-container {
    margin: 0;
    z-index: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    animation: logo-intro 3s ease-out forwards;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(255,255,255,0.0);
    border-radius: 5px;
}

@keyframes twinkle {
    0% {
        transform: scale(1, 1);
        background: rgba(255,255,255,0.0);
        animation-timing-function: ease-in;
    }
    60% {
        transform: scale(0.8, 0.8);
        background: rgba(255,255,255,1);
        animation-timing-function: ease-out;
    }
    80% {
        background: rgba(255,255,255,0.00);
        transform: scale(1, 1);
    }
    100% {
        background: rgba(255,255,255,0.0);
        transform: scale(1, 1);
    }
}

.logo-container img {
    width: 75vw;
    min-width: 200px;
    animation: logo-shrink 3.5s ease-in-out forwards;
}


@keyframes logo-intro {
    0% {
    }

    100% {
        top: 40vh;
        left: 50vw;
        transform: translate(-50%, 0%);
    }
}

@keyframes logo-shrink {
    from {
        width: 75vw;
    }

    to {
        width: 20vw;
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
    .video-container {
        height: auto;
    }
    .placeholder-image-container {
        height: auto;
    }
}

@media screen and (max-width: 1125px) {
    .welcome-text {
        font-size: 7vw;
        top: 25vh;
    }
    .web-dev-text {
        font-size: 3vw;
        letter-spacing: 6px;
        top: 23vh;
    }
}

@media screen and (max-width: 823px) {
    .welcome-text {
        top: 32vh;
    }
    .web-dev-text {
        top: 30vh;
    }
    .scroll .fas {
        padding: 15px;
    }
    @keyframes logo-intro {
        0% {
            top: 100vh;
        }
    
        100% {
            top: 57vh;
            left: 50vw;
            transform: translate(-50%, 0%);
        }
    }
}

@media screen and (max-height: 570px) {
    .logo-container img {
        min-width: 150px;
    }
    .scroll {
        margin-top: 80vh;
    }
}

@media screen and (max-height: 850px) {
    .logo-container img {
        min-width: 150px;
    }
    .scroll {
        margin-top: 82vh;
    }
    @keyframes logo-intro {
        0% {
            top: 100vh;
        }
    
        100% {
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, 0%);
        }
    }
}